* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaijaan 2", cursive;
}
html {
  font-size: 62.5%;
}
/* *******************************************************************************************************************
                        header section start

******************************************************************************************************************* */
.header {
  background: linear-gradient(
    rgba(144, 50, 56, 0.771),
    rgba(50, 89, 179, 0.71)
  );
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  height: 10rem;
  width: 100%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.logo img {
  height: 4.8rem;
  justify-content: center;
}
.navbar ul {
  display: flex;
  gap: 6rem;
}
.navbar li {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
}
.navbar a:hover,
.navbar .active {
  color: rgb(201, 196, 43);
}

.main::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  background: url("/bg.jpg") no-repeat center center/cover;
  z-index: -1;
  opacity: 0.9;
}
/* *******************************************************************************************************************
                        main section start

******************************************************************************************************************* */

.heading {
  margin-bottom: 1.2rem;
  font-size: 3.7rem;
  color: rgb(82, 143, 227);
}
.main-section {
  padding: 3.2rem;
  width: 65rem;
  height: 45rem;
  margin: auto;
  justify-content: center;
  /* border: 2px solid red; */
  text-align: center;
  /* background-color: rgba(59, 59, 56, 0.273); */
  color: white;
  transform: translateY(30rem);
  font-size: 1.4rem;
}
.button {
  background-color: #495683;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 5px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 4.4rem 2px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(164, 70, 86);
}
/* *******************************************************************************************************************
                        section section start

******************************************************************************************************************* */
.skills{
    /* border: 2px solid red; */
    transform: translateY(30rem);
    background-color: rgb(110, 116, 118);
}
.section-heading {
  font-size: 3.7rem;
  color: rgb(82, 143, 227);
  justify-content: center;
  width: 35rem;
  margin: auto;
  padding-left: 8rem;
}
.container{
  /* border: 2px solid black; */
  display: grid;
  grid-template-rows: repeat(3,1fr);
  
}
.item-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(177, 211, 211);
  margin: 1.2rem 0;
  /* display: grid; */
  /* grid-template-columns: repeat(2,1fr); */
  
}
.item-2 {
  display: flex;
  justify-content:space-between ;
  align-items: center;
  background-color: rgb(195, 171, 217);
  margin: 1.2rem 0;
  /* display: grid; */
  /* grid-template-columns: repeat(2,1fr); */
}
.item-3 {
  display: flex;
  background-color: rgb(216, 216, 172);
  justify-content:space-between;
  align-items: center;
  margin: 1.2rem 0;
  /* display: grid; */
  /* grid-template-columns: repeat(2,1fr); */
}
.css-icon{
  width: 15rem;
  height: 15rem;
}
.skill-images-1{
  margin-left: 2rem;
}
.skill-images-2{
  margin-left: 18rem;
}
.skill-images-3{
  margin-left: 18rem;
}
.about {
  justify-content: center;
  align-items: center;
  width: 55rem;
  margin-right: 3rem;
  padding: 1.2rem 0.2rem 1.2rem 4.5rem;
  font-size: 2rem;
}
/* *******************************************************************************************************************
                        contact section start

******************************************************************************************************************* */
.contact{
    /* border: 2px solid blue; */
    background-color: rgb(233, 233, 217);
     transform: translateY(34rem);
     height: 20rem;
}
.contact-heading{
  font-size: 3.7rem;
  color: rgb(82, 143, 227);
  justify-content: center;
  width: 35rem;
  margin: auto;
  padding-left: 8rem;
}
.contact-container{
  display: flex;
  justify-content: space-between;
}
.icons{
  height: 5rem;
  width: 5rem;
  justify-content: center;
  align-items: center;
}
/* *******************************************************************************************************************
                        form section start

******************************************************************************************************************* */
.table{
  /* border: 2px solid red; */
  background: linear-gradient(
    rgba(95, 174, 159, 0.771),
    rgba(148, 82, 146, 0.71)
  );
  transform: translateY(40rem);
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  margin: auto;
}
.table-heading{
  margin: 2.3rem;
  padding:1.2rem;
  font-size: 2.7rem;
  color: rgb(82, 143, 227);
  justify-content: center;
  margin: auto;
}
.table-s{
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
/* .table-s label{
  margin: 0.8rem 0;
  padding: 1rem 0;
} */
.text{
  margin: 4px 0;
  padding:5px 0;
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid black;
  border-radius: 1rem;
}
.table-lable{
  margin: 4px 0;
  padding: 5px 0;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: underline;
 
}
.btn{
  background-color:  rgb(91, 61, 91);
  border-radius:1rem ;
  margin-top: 3rem;
  width: 25%;
  padding: 4px;
  margin: 3rem auto;
  color: white;
  font-size: 1.7rem;
}.btn:hover{
  background-color: rgb(164, 70, 86);
  color: black;
}
/* *******************************************************************************************************************
                        footer section start

******************************************************************************************************************* */
.footer{
  transform: translateY(43rem);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}
.footer-p{
  justify-content: center;
}
.rights{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* *****************************************************************/
           /* responsive part  */

/***************************************************************** */

@media(max-width: 1073px){
  .container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    
  }
  .item-1 {
    display: flex;
    flex-direction: column;
  }
  .item-2 {
    display: flex;
    flex-direction: column;

  }
  .item-3 {
    display: flex;
    flex-direction: column;
  }
  .skill-images-2{
    margin: 5rem 8rem 0 8rem
  }
  .skill-images-3{
    margin: 7rem 8rem 0 8rem
  }
}
@media(max-width: 688px){
    .contact{
     height: 80rem;
}
.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.8rem;
}
.h3{
  font-size: 3.2rem; 
}
.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons{
  height: 8rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
}

}



